*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
datasource.txt
coverage
node_modules
npm-debug.log
bower_components/
client/jspm_packages/
