<section class="container">
    <h1>About YEG Photos</h1>
    <div class="row">
      <div class="col-md-12">
        <h3>Overview</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>
          <a href="http://betacity.ca/">BetaCityYEG</a> has scraped (with permission) the
          <a href="https://archivesphotos.edmonton.ca/">City of Edmonton Archives
          Catalogue</a> and has created an online tool to geolocate the site’s
          historical images.
        </p>
        <p>
          Similar to <a href="https://www.oldnyc.org/">OldNYC</a>, BetaCityYEG
          hopes to bring its city and region’s history alive with a mobile-friendly
          webmap. Once the interface is completed, we will crowdsource the manual
          task of geolocating these images. An admin site has been created that
          allows multiple users to gelocate an image which updates an online
          database, inserting the latitude/longitude.
        </p>
      </div>
      <div class="col-md-7">
        <img src="../img/archive.png" width="90%" alt="Screen of City of Edmonton Archive Site" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3></h3>
      </div>
    </div>
</section>
