<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YEG Photo Tagger Admin</title>
    <link rel="stylesheet" href="../css/ng-admin.min.css">
    <script type="text/javascript">
      var token = window.localStorage.getItem('api_token');

      if (!token) {
        window.location.href = "./login.html";
      }
    </script>
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <script>
      System.import ('../js/admin.bootstrap');
    </script>
  </head>
  <body>
    <div ui-view></div>
  </body>
</html>
