<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <link href="../css/style.css" rel='stylesheet' type='text/css'/>
    <link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <link href="../css/flatty.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      var token = window.localStorage.getItem('api_token');

      if (token) {
        window.location.href = "./admin.html#/Photos/list";
      }
    </script>
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <script>
      System.import ('../js/login.bootstrap');
    </script>
  </head>
  <body ng-controller="LoginController">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <h1 class="text-center login-title">YEG Photo Tagger Admin - Sign In</h1>
          <div class="account-wall">
            <img class="profile-img" src="../img/no_avatar.gif" alt="">
            <form name="loginForm" class="form-signin" ng-submit="login(loginForm.$valid)" novalidate>
              <input id="email" ng-model="email" name="email" type="text" class="form-control" placeholder="Email" required autofocus>
              <div class="hide" ng-show="loginForm.$submitted || loginForm.email.$touched">
                <span ng-show="loginForm.email.$error.required">Please enter your email address.</span>
                <span ng-show="loginForm.email.$error.email">Please enter a valid email address.</span>
              </div>
              <input id="password" ng-model="password" name="password" type="password" class="form-control" placeholder="Password" required>
              <div class="hide" ng-show="loginForm.$submitted || loginForm.password.$touched">
                <span ng-show="loginForm.password.$error.required">Please enter your password.</span>
              </div>
              <br />
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
