<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <link href="../css/style.css" rel='stylesheet' type='text/css'/>
    <link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      var token = window.localStorage.getItem('api_token');

      if (token) {
        window.location.href = "./admin.html#/Photos/list";
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <h1 class="text-center login-title">YEG Photo Tagger Admin - Sign In</h1>
          <div class="account-wall">
            <img class="profile-img" src="../img/no_avatar.gif" alt="">
            <form id="login-form" class="form-signin" onsubmit="return login()">
              <input id="email" name="email" type="text" class="form-control" placeholder="Email" required autofocus>
              <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="../vendor/bower_components/jquery/dist/jquery.js"></script>
    <script type="application/x-javascript">
      function login(e) {
        if (e) {
          e.prevenDefault();
        }

        $.ajax({url: 'https://yegtaggerapp.herokuapp.com/api/Users/login', type: 'POST', dataType: 'json', data: $('#login-form').serialize()}).done(function (data, textStatus) {
          console.log('textStatus: ', textStatus);
          window.localStorage.setItem('api_token', data.id);
          window.localStorage.setItem('username', $('#email').val())
          window.location.href = "./admin.html#/Photos/list";
        }).fail(function (jqXHR, textStatus, errorThrown) {
          console.log('Error: ', textStatus, errorThrown);
        });

        return false;
      }
    </script>
  </body>
</html>
