<section class="full-height">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" refresh="!loading" options="map.options" pan="true" control="map.control">
    <ui-gmap-markers models="markers" coords="'self'" type="'cluster'" icon="'icon'">
      <ui-gmap-windows show="show">
        <div ng-non-bindable>
          <h3 style="text-align: center">{{imageTitle}}</h3>
          <div style="text-align: center; margin-bottom: 15px">Year of Photo: {{creationYear}}</div>
          <div style="margin: auto;"><img src="{{imagePath}}"/></div>
          <div style="max-width: 400px; margin-top: 15px; font-style: italic;">{{description}}</div>
        </div>
      </ui-gmap-windows>
    </ui-gmap-google-map>
  </section>
