<section class="full-height">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" pan="true" control="map.control">
    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClick">
      <ui-gmap-windows show="show">
        <div ng-non-bindable>
          <div><b>{{imageTitle}}<b></div>
          <div>Year of Photo: {{creationYear}}</div>
          <div><img src="{{ imagePath }}" /></div>
          <div>Description: {{description}}</div>
        </div>
      </ui-gmap-windows>
    </ui-gmap-google-map>
  </section>
